.station-card {
  width: 100%;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  text-align: left;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 5px;
}

.station-details {
  margin-left: 20px;
}

button {
  width: 150px;
  height: 40px;
  margin: auto 20px;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}